{% extends "layout.html" %}


<link rel="stylesheet" href="/static/login.css" type="text/css">
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
<p><a href="/welcome">Continue Playing?</a></p>
<p><a href="/logout">Logout</a></p>
{% else %}

<p>Unfortunately you need to sign up as admin. The possibility to create your own account is still in the making.</p>
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
<p><a href="/signup">New here? - Sign up</a></p>

{% endif %}
{% endblock %}
